.header_wrapper {
    /* border: 3px solid red; */
    /* height: 15vh; */
    background-color: var(--primary-colour-transparent);

    display: grid;
    grid-template-columns: 40% 60%;
}

.img {
    /* border: 3px solid blue; */
    object-fit: cover;
    /* height: 100%;
    width: 50%; */
    /* overflow: hidden; */
}

.img_logo {
    width: 50%;
    height: 100%;
    margin-left: 10vw;
    object-fit: contain;
}

.navbar_wrapper {
    /* border: 3px solid purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* margin-right: 1; */

}
/* --- RESPONSIVE STYLES --- */
@media (max-width: 900px) {
  .header_wrapper {
    position: relative;
    /* grid-template-columns: 1fr; */
    grid-template-rows: auto auto;
    /* height: auto; */
    padding: 1rem 0;
    /* text-align: center;
    align-items: center; */
  }

  .img {
    align-items: center;
    text-align: center;
    justify-content: center;
    height: auto;
  }

  .navbar_wrapper {
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .img_logo {
    width: 60%;
  }
}
